  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:3000/">
      <img src="https://static.vecteezy.com/ti/vecteur-libre/t2/623819-hat-chef-logo-et-symboless-gratuit-vectoriel.jpg" />
</a>
  <%= form_with url: offers_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Write your food category !"
  %>
  <%= submit_tag "Search", class: "btn btn-search" %>
<% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="http://localhost:3000/"></a>
          </li>
          <li class="nav-item dropdown">

            <img class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://media.istockphoto.com/id/1190343179/fr/vectoriel/menu-du-site-web-ligne-forme-dic%C3%B4ne-de-liste-signe-de-logo-de-symbole-de-page.jpg?s=170667a&w=0&k=20&c=V5TngWrPQnsOqn_Wh0Ia_Uaw-yxbquGHoHb95O3VYBQ=" />
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">

            <% if user_signed_in? %>
              <%= link_to "My dashboard", pages_dashboard_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              <% else %>
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              <% end %>
            </div>
          </li>

      </ul>
    </div>
  </div>
</div>
