<h2>My offers</h2>

<% @offers.each do |offer| %>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= offer.name %></h5>
     <p class="card-text"><%= offer.price %></p>
     <p class="card-text"><%= offer.location %></p>
    <p class="card-text"><%= offer.description %></p>
    <a href="#" class="btn btn-primary"><%= link_to "Access this offer", offers_path(@offer) %></a>
    <% end %>
  </div>
</div>

<div class="container mt-3">
  <div class="">
    <div class="">
      <div class="cards mt-2">
        <% @offers.each do |offer| %>
          <div class="mb-3">
              <div class="card border-0">
                <% if offer.picture.present? && offer.picture[0].present? %>
                  <%= cl_image_tag offer.picture[0].key, class:'offer_chef_picture' %>
                <% else %>
                <span>No picture available</span>
                <% end %>
                <%= link_to offer.name, offer_path(offer), class:"offer_name"%>
                <%= link_to offer.description, offer_path(offer), class:"offer_description"%>
                <%= link_to "#{offer.price} € per day", offer_path(offer), class:"offer_price"%>
                <button class = 'btn btn-danger'> <%= link_to "Delete",offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
          </div>
        <% end %>
      </div>
      <div>

<h2>My bookings</h2>
<% @bookings.each do |booking|  %>
<%= booking.comment %>
<% end %>
