<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Book a new offer</h3>
        <%= simple_form_for [@offer, @booking], data: { controller: 'dater', dater_price_value: @offer.price } do |f| %>
          <%= f.input :start_date, input_html: {data: { controller: 'datepicker', dater_target: "startDate",  } }, as: :string %>
          <%= f.input :end_date, input_html: {data: { controller: 'datepicker', action:"change->dater#count",  dater_target: "endDate"} }, as: :string %>
          <%# <%= start_date - end_date  %>
          <%= "Prix = ""#{@offer.price}""€"%>
          <%= f.input :total_amount, disabled: true, readonly: true, input_html: { data: { dater_target: "totalAmount" } } %>
          <%= f.input :comment, placeholder: 'comment' %>
          <%# <%= f.input :total_amount, {data: { dater_target: "totalAmount", dater_price_value: @offer.price } }  %>

          <%= f.submit class: 'btn btn-flat' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%# data_dater_price_value: @offer.price %>
<%# datepicker_target: "startTime"
 datepicker_target: "endTime" }, id:'end_time'  %>
