<div class="">
  <div class="row">
    <div class="">
      <div class="bg-white p-3 shadow" style="border-radius: 10px">
        <div class ="border-radius">
          <h3> <strong>Book a Chef </strong></h3>
          <%= simple_form_for [@offer, @booking], data: { controller: 'dater', dater_price_value: @offer.price } do |f| %>
            <strong><%= "#{@offer.price}""€ "%></strong><%="per day"%>
            <div class="mt-4">
              <span style="font-size: 14px"><strong><%= f.input :start_date, input_html: {data: { controller: 'datepicker', dater_target: "startDate"}, placeholder: "Click to select a date" }, as: :string, style: "border:none border-radius: 25px" %></strong>
              <span style="font-size: 14px"><strong><%= f.input :end_date, input_html: {data: { controller: 'datepicker', action:"change->dater#count",  dater_target: "endDate"}, placeholder:"Click to select a date" }, as: :string %></strong>
              <%# <%= start_date - end_date  %>
              <span style="font-size: 14px"><strong><%= f.input :comment %></strong>
              <%# <%= f.input :total_amount, {data: { dater_target: "totalAmount", dater_price_value: @offer.price } }  %>
              <hr>
              <span style="font-size: 14px; border: none"><strong><%= p (f.input :total_amount, disabled: true, readonly: true, input_html: { data: { dater_target: "totalAmount" } }, class: 'custom-input') %></strong>
              <%= f.submit class: 'btn btn-primary color-D7572B' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<%# data_dater_price_value: @offer.price %>
<%# datepicker_target: "startTime"
 datepicker_target: "endTime" }, id:'end_time'  %>
