<div class="container mt-3">
  <div class="">
    <div class="">
      <h2 id="chefs_title">CHEFS IN PARIS</h2>
      <div class="cards mt-2">
        <% @offers.each do |offer| %>
          <div class="mb-3">
              <div class="card border-0">
                <% if offer.picture.present? && offer.picture[0].present? %>
                  <%= cl_image_tag offer.picture[0].key, class:'offer_chef_picture' %>
                <% else %>
                <span>No picture available</span>
                <% end %>
                <%= link_to offer.name, offer_path(offer), class:"offer_name"%>
                <%= link_to offer.description, offer_path(offer), class:"offer_description"%>
                <%= link_to "#{offer.price} € per day", offer_path(offer), class:"offer_price"%>
              </div>
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to "Add a new offer", new_offer_path, class: 'button-74' %>
      </div>
  </div>
</div>
