<%#<h1><strong>offers</strong></h1> %>
<div class="container">
  <%#div class="list-group"%>
    <div class="test"><h1><%= @offer.name %></h1></div>

    <div>Placeholder more info</div>

  <div class="d-flex w-100 justify-content gap-5">
    <div class="w-50 d-flex item align-content-start justify-content-between gap-2 images-container position-sticky">
      <div class="w-50 ">
      <% if  @offer.pictures[0].nil? %>
      <% else %>
        <%= cl_image_tag @offer.pictures[0].key, class:"offer-picture chef"%>
      </div>
      <div class="w-50 d-flex flex-column justify-content-between">
        <div class="w-100 "><%= cl_image_tag @offer.pictures[1].key, class:"offer-picture meal" %></div>
        <div class="w-100  "><%= cl_image_tag @offer.pictures[2].key, class:"offer-picture meal"%></div>
      </div>
        <% end %>
    </div>
    <div class="w-50 sticky-top" id="sticky">
      <%= render "booking_form", booking: @booking, data: {turbo_confirm: "Are you sure?"}%>
      <script src="app/javascript/controllers/sticky.js"></script>
    </div>
  </div>

  <div class="card_description w-50 p-2">
      <%#div class=""><%= @offer.availability ></div%%>

    <div class="mb-4">
      <div class="card_description_icon">
        <i class="fa-solid fa-person" style="font-size: 1.5em;"></i>
        <%= @offer.capacity %>
      </div>
    </div>

    <div class="mb-4">
      <div class="card_description_icon">
        <i class="fa-solid fa-location-dot" style="font-size: 1.5em;"></i>
         <%= @offer.location %>
      </div>
    </div>

    <div class="mb-4">
      <div class="card_description_icon">
      <i class="fa-solid fa-utensils" style="font-size: 1.5em;"></i>
        <%= @offer.food_category %>
      </div>
    </div>

    <div class="mb-4">
      <div class="card_description_icon">
        <i class="fa-solid fa-shield"style="font-size: 1.5em;"></i>
        <%= @offer.description %>
      </div>
    </div>

  </div>


</div>



  <%# <div data-controller="toggle"> toggle pour le bouton form
    <button class='btn btn-primary' data-action='click->toggle#fire'>Book your meal</button>
    <div data-toggle-target="togglableElement" class="d-none"> %>
    <%# </div>
  </div> %>
  <%# </div>
</div>

<div class="container">
<button class = 'btn btn-danger'> <%= link_to "Delete",offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
