<p><strong>offers</strong></p>
<ul class="list-group">
  <% @offers.offers.each do |offer| %>
    <li class="list-group-item"><%= offer.name %></li>
    <li class="list-group-item"><%= offer.availability %></li>
    <li class="list-group-item"><%= offer.capacity %></li>
    <li class="list-group-item"><%= offer.location %></li>
    <li class="list-group-item"><%= offer.description %></li>
  <% end %>
</ul>
<br>
