<%#<h1><strong>offers</strong></h1> %>
<div class="container">
  <%#div class="list-group"%>
    <div class=""><h1><%= @offer.name %></h1></div>

  <div class="d-flex w-50">
    <div class="w-50">
      <%= cl_image_tag @offer.picture[0].key, class:'offer-picture' %>
    </div>
    <div class="w-50">
      <div class="w-100"><%= cl_image_tag @offer.picture[1].key, class:'offer-picture' %></div>
      <div class="w-100"><%= cl_image_tag @offer.picture[2].key, class:'offer-picture' %></div>
    </div>
  <div data-controller="toggle">
    <button class='btn btn-primary' data-action='click->toggle#fire'>Book your meal</button>
    <div data-toggle-target="togglableElement" class="d-none">
      <%= render "booking_form", booking: @booking, data: {turbo_confirm: "Are you sure?"}%>
    </div>
  </div>
  </div>
</div>

    <div class=""><%= @offer.availability %></div>
    <div class=""><%= @offer.capacity %></div>
    <div class=""><%= @offer.location %></div>
    <div class=""><%= @offer.description %></div>



<%# déso nico %>

<div class="container">
<button> <%= link_to "Delete",offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
</div>
