<%#<h1><strong>offers</strong></h1> %>
<div class="container">
  <%#div class="list-group"%>
    <div class="list-group-item"><h1><%= @offer.name %></h1></div>

    <div> </div>
<div class="list-group-item"><%= @offer.picture_url %></div>


    <div class="list-group-item"><%= @offer.availability %></div>
    <div class="list-group-item"><%= @offer.capacity %></div>
    <div class="list-group-item"><%= @offer.location %></div>
    <div class="list-group-item"><%= @offer.description %></div>



  <div data-controller="toggle">
    <button class='btn btn-primary' data-action='click->toggle#fire'>Book your meal</button>
    <div data-toggle-target="togglableElement" class="d-none">
      <%= render "booking_form", booking: @booking, data: {turbo_confirm: "Are you sure?"}%>
    </div>
  </div>
</div>
<%# déso nico %>

<div class="container">
<button> <%= link_to "Delete",offer_path(@offer), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>
</div>
